
<form class="form">
    <span>
        Sign In
    </span>

    <div>
        <mat-form-field>
            <input matInput type="text" name="username" placeholder="Username">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="password" name="pass" placeholder="Password">
        </mat-form-field>
    </div>


    <div >
        <button mat-raised-button color="primary">
            Sign in
        </button>
    </div>

    <div >
        <span >
            Don’t have an account?
        </span>

<br>
        <a >
            Sign up now
        </a>
    </div>
</form>
